body, html, #app {
    height: 100%;
    padding: 0;
    margin: 0;
}
.el-breadcrumb {
    font-size: 15px;
    margin-bottom: 10px;
}

.el-table {
    margin-top: 10px;
}

.el-pagination {
    margin-top: 10px;
}